html {
    background: linear-gradient(to bottom left, rgb(255, 125, 125), rgb(125, 125, 255)) no-repeat center center fixed; 
    background-size: cover;
}

.user {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    height: 200px;
}

#userInfo {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#getNew {
    margin: 0.5em;
    padding: 5px;
}